*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    /*Text colors*/
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);

  /*Gradient*/
  --background-gradient: linear-gradient(116.82deg, #AF67E9 0%, #6565E7 99.99%, #FFFFFF 100%);

  /*Dividers*/
  --light-grayish-blue: hsl(240, 5%, 91%);

  font-family: 'Kumbh Sans', sans-serif;
  font-size: 62.5%;

}

body{
  background: var(--background-gradient);
}

main{
  display: flex;

  width: 70%;
  margin: 5% auto;
  border-radius: 1.5rem;
  background-color: white;
}

.ilustration{
  width: 100%;
  height: 50rem;
  background-image: url(/images/illustration-woman-online-desktop.svg);
  background-repeat: no-repeat;
  background-size: fill;
  background-position-x: -7rem;
  background-position-y: 5rem;
}

.faq{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-block: 2rem;
}

.faq h2{
  margin-bottom: .8rem;
  font-weight: 700;
  font-size: 3rem;
}

.accordion-wrapper{
  border-bottom: 1px solid var(--light-grayish-blue);
  width: 80%;
}

.accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: transparent;
  cursor: pointer;
  padding: 18px 0;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;

  font-size: 1.5rem;
  font-weight: 400;
}

.accordion:hover{
  color: var(--soft-red);
}

.active{
  color: var(--very-dark-desaturated-blue);
  font-weight: 700;
  transition: .2s;
}

.panel {
  margin-bottom: .8rem;
  padding: 0px;
  background-color:transparent;
  display: none;
  overflow: hidden;
  font-size: 1.3rem;
  color: var(--dark-grayish-blue);
  line-height: 2rem;
  
}